---
const  { texto } = Astro.props;
---
<h2 style="color:#273480; font-family:'Helvetica', sans-serif; line-height: 34px; font-size:24px; text-align: left;  margin-bottom: 25px; "><Fragment set:html={texto} </h2>
